body {
  font: 16px/28px arial, sans-serif;
  background-color: #eaeaea;
  background-image: url(putih.jpg);
  color: #333;
}

.container {
  width: 800px;
  margin: auto;
  background-color: #fff;
  padding: 2rem;
}

.header {
  padding: 20px;
  padding-bottom: 2px;
}

.header .judul {
  font-size: 40px;
  font-weight: bold;
}

.header ul li {
  display: inline-block;
  margin-top: auto;
  margin-right: 10px;
  padding-bottom: 5px;
}

.header a {
  text-decoration: none;
  color: blue;
  padding: 3px;
}

.header a:hover {

  color: white;
}

.hero {
  height: 300px;
  background-image: url(gambar.jpg);
  background-size: cover;
  background-position: 30 -10;
  border-top: 5px solid lightskyblue;
  border-bottom: 5px solid salmon;
}

.content {
  padding: 30px;
}

.content h2 {
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
}

.content .penulis {
  font-size: 11px;
  margin-top: -25px;
}

.content .penulis a {
  color: rgb(70, 13, 226);
  text-decoration: none;
}

.content p {
  margin-bottom: 20px;
  font-size: 14px;
}

.footer {
  background-color: rgb(61, 60, 60);
  padding: -10px;
}

.footer .copy {
  color: #eaeaea;
  text-align: center;
  font-size: 10px;
}

a.tbl-biru {
  background: #3f72af;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  top: 20px;
  right: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.pagination a {
  color: #007bff;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 4px;
}

.pagination a:hover {
  background-color: #007bff;
  color: #fff;
}

.pagination a.active {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: var(--p-font);
  font-weight: 500;
  color: var(--text-color);
  margin: 0 25px;
  transition: all ease 0.5s;
}

.navbar a:hover {
  color: var(--main-color);
}

.navbar a.active {
  color: var(--main-color);
}

:root {
  --main-color:#ffae00;
  --text-color: #fff;

}

.social i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
  box-shadow: 0px 20px 40px #00000070;
  border: 1px solid #3b3b3b;
  border-radius: 50%;
  color: var(--text-color);
  font-size: 20px;
  margin: 0 7px;
  transition: all 0.6s ease-in-out;
}

.social i:hover {
  transform: translateY(-10px);
}